/********* General CSS *********/
/*******************************/
:root{
    --primary: #0a5edd;
    --secondary: #0fca0f;
    --light: #EEF9FF;
    --dark: #d61212;
    --box-shadow:0px 15px 25px gray;
    transition: .4s ease;
}


a{
    text-decoration: none;
}



h1{
    font-weight: 100;
}
/* section */

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section-title{
    padding-top: 40px;
    animation: slideRight 1s ease forwards;
    text-shadow: 2px 2px 3px rgb(231, 245, 194);
}
@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
     }
     100% {
        transform: translateX(0%);
        opacity: 1;
     }
    }

.section-title h3{
    color: crimson;
}    

.btn{
        color: var(--secondary);
       border-radius: 0;
       padding:10px 25px;
       
   }
.btn:hover{
       background-color: var(--primary);
       color: var(--light);
       
      }    



   

    /*** Navbar ***/
   
    
    .navbar {
        background-color: var(--light);
        color: var(--dark);
        padding: 0px 5px;
        /* position: relative; */
    }
    
    
    .logo{
        font-size: xx-large;
        font-weight: 1.8rem;
        font-weight: 800;
        color: darkorchid;
        text-decoration: none;
        animation: slideRight 1s ease forwards;
    }
    @keyframes slideRight {
        0% {
            transform: translateX(-100%);
            opacity: 0;
         }
         100% {
            transform: translateX(0%);
            opacity: 1;
         }
        }
    
    .menu-icon {
        display: none; /* Hidden by default, shown on small screens */
        cursor: pointer;
        font-size: 24px;
    }
    
    .menu-icon .icon {
        margin-right: 10px;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        /* margin: 0;
        padding: 0; */
        font-weight: bold;
        margin-right: 30px;
    }
    
    .nav-links li {
        margin: 2px 15px;
    }
    
    .nav-links a {
        color: #dd3e3e;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s;
    }
    
    .nav-links a:hover {
        color: #192697;
    }
    
    /* Responsive styles */
    @media (max-width: 768px) {
        .menu-icon {
            display: block;
        }
    
        .nav-links {
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: var(--light);
        }
    
        .nav-links.active {
            display: flex;
        }
    
        .nav-links li {
            margin: 15px 0;
            text-align: center;
        }
    
        .nav-links a {
            font-size: 20px;
        }
    }
    



/* home title */
.head h4{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(26),
    cursor .3s step-end infinite alternate;
}    
/* cursor blinking */
@keyframes cursor{
    50% { border-color:#d61212;}
}
/* typing effect */
@keyframes typing {
        from{ width: 0}
}

@media (max-width: 768px) {
    .head h4{
        font-size: 25px;
        max-width: 100%;
        white-space: normal;
        overflow: visible;
        animation: typing 2s steps(26),
        cursor .3s step-end infinite alternate;
        
    }    
    /* cursor blinking */
    @keyframes cursor{
        50% { border-color:#d61212;}
    }
    /* typing effect */
    @keyframes typing {
            from{ width: 0}
    }
    

}





a.btn:hover{
    background-color: var(--dark);
}

#hero{
    background: linear-gradient(#21186da1,#21186da1),url(../images/img1.jpg);
    background-position: center;
     background-size: cover;

}  
/* about */


#about{
    /* padding: 50px 0px; */
    background: url(../images/patt3.jpg);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animate 8.5s linear infinite;


}
@keyframes animate{
    from{
        background-position: 0 -120px;
    }
    to{
        background-position: 0 0;
    }
}

.aboutimg img{
    transition: transform 0.4s;
}
.aboutimg:hover img{
    transform: scale(1.1);
}
    
/* skills */

#skillss{
    
        /* padding: 50px 0px; */
        background: url(../images/patt3.jpg);
        perspective: 1000px;
        perspective-origin: 50% 50%;
        animation: animate 3.5s linear infinite;
    
    
    }
    @keyframes animate{
        from{
            background-position: 0 -120px;
        }
        to{
            background-position: 0 0;
        }
    }
   

.pro .skill-name p{
    font-weight: 500;
    font-style: oblique;
}
.pro .skill-name  p:last-child {
    float: right;
}
.image-container{
    position: relative;
}
.label{
    position: absolute;
    top:40px;
    padding: 10px;
    font-size: 17px;


}

/* portfolio */

#port{
    padding: 50px 0px;
    background: url(../images/patt3.jpg);
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animate 3.5s linear infinite;
    
    
    }
 @keyframes animate{
        from{
            background-position: 0 -120px;
        }
        to{
            background-position: 0 0;
        }
    }


.img{
    position: relative;
}
.img img{
    transition:transform 0.7s;
}
.layer{
    width:100%;
    height: 0;
    background: linear-gradient(rgba(212, 127, 127, 0.6),#a2fa4f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    text-align:center;
    transition: height 0.7s;
}

.layer h5{
    font-weight: bolder;
    font-style: italic;
    columns:var(--light);
    margin-bottom: 40px;
}
.layer p{
    font-style: italic;
}

.layer a{
    border-radius: 50%;
    
}

.img:hover img{
    transform: scale(1.1);
}

.img:hover .layer{
    height: 100%;
}
/* contact */

#contact{
       background: url(../images/patt3.jpg);
       perspective: 1000px;
        perspective-origin: 50% 50%;
        animation: animate 3s linear infinite;
    
    
    }
 @keyframes animate{
      from{
            background-position: 0 -120px;
        }
        to{
            background-position: 0 0;
        }
    }

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.contact-container a{
    padding: 18px 18px;
    background: var(--dark);
    display: flex;
    text-decoration:none;
    border: 2px solid var(--secondary);
    font-size: 27px;
    color: var(--light);
    border-radius: 50%;
    transition: var(--transition);
}
.contact-container a:hover{
    color: var(--primary);
    background: transparent;
}


/* footer */
footer{
    height: 6rem;
    background: var(--primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-size: 19px;
     
}
/* end footer */